@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Poppins:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Poppins:ital,wght@0,100;0,300;0,500;1,400&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --nav-color: #4314b6;
    --font-family: 'Baloo Bhai 2', cursive;
    --menu-color: #6e6e76;
    --text-color: #6e6e76;
    --btn-color: #4314b6;
    --heading-color:#1d1d20;
    --common-color:#4314b6;
    --commna-font:'Poppins', sans-serif;
}

/* styling of navigation bar */
header {
    width: 100%;
}

header nav {
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--nav-color);
    font-family: var(--font-family);
}

/* menus styling */
header nav .menus ul {
    display: flex;
    list-style: none;
}

header nav .menus ul li {
    padding: 12px 23px;


}

header nav .menus ul li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--menu-color);
    font-weight: 600;
}

/* authentication buttons styling */
header nav .auth {
    margin-right: 50px;
}

header nav .auth .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .auth .buttons button {
    width: 100px;
    height: 35px;
    border: none;
    background-color: var(--btn-color);
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
header nav .auth .buttons button .link{
    text-transform: capitalize;
    font-family: var(--commna-font);
    text-decoration: none;
    color: #ffffff;
}
header nav .auth .buttons button:hover {
    background-color: #6128f0;
}

/* responsive designe for navigation bar */
@media(max-width:600px) {

    /* styling of navigation bar */
    header {
        width: 100%;
    }

    header nav {
        width: 100%;
        margin: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav .logo {
        font-size: 1.2rem;
        font-weight: 800;
        color: var(--nav-color);
        font-family: var(--font-family);
    }

    /* menus styling */
    header nav .menus ul {
        display: flex;
        list-style: none;
    }

    header nav .menus ul li {
        padding: 12px 5px;


    }

    header nav .menus ul li Link {
        text-decoration: none;
        font-size: 0.8rem;
        text-transform: capitalize;
        color: var(--menu-color);
        font-weight: 600;
    }

    /* authentication buttons styling */
    header nav .auth {
        margin-right: 50px;
    }

    header nav .auth .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header nav .auth .buttons button {
        width: 70px;
        height: 35px;
        border: none;
        background-color: var(--btn-color);
        color: #ffffff;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
    }
    
    header nav .auth .buttons button:hover {
        background-color: #6128f0;
    }
}

/* for mobiles */
@media(max-width:480px) {

    /* styling of navigation bar */
    header {
        width: 100%;
    }

    header nav {
        width: 100%;
        margin: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav .logo {
        font-size: 0.8rem;
        font-weight: 800;
        color: var(--nav-color);
        font-family: var(--font-family);
    }

    /* menus styling */
    header nav .menus ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    header nav .menus ul li {
        padding: 5px 7px;


    }

    header nav .menus ul li a {
        text-decoration: none;
        font-size: 0.6rem;
        text-transform: capitalize;
        color: var(--menu-color);
        font-weight: 600;
    }

    /* authentication buttons styling */
    header nav .auth {
        margin-right: 10px;
    }

    header nav .auth .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px 0px 10px;
    }

    header nav .auth .buttons button {
        width: 60px;
        height: 25px;
        border: none;
        background-color: var(--btn-color);
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
        font-size: 0.7rem;
    }

    header nav .auth .buttons button .link{
        text-decoration: none;
        color: #ffffff;
    }
    header nav .auth .buttons button:hover {
        background-color: #6128f0;
    }
}

/* end of navigation bar */
/* background section styliing */

.index-page-background-section {
    width: 100%;
   height: 400px;
    background-image: url("../../public/photos/backgroundImg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}
.index-page-background-section .content {
    width: 60%;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.index-page-background-section .content .heading {
    font-size: 60px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
}
.index-page-background-section .content .text{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 5px;
}
.index-page-background-section .content .button button{ 
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: #ffffff;
    text-transform: capitalize;
    border: none;
    margin-top: 30px;
}
.index-page-background-section .content .button button .link{
    text-decoration: none;
    color: #ffffff;
    font-family: var(--commna-font);
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.index-page-background-section .content .button button:hover{
    background-color: #6128f0;
}

/* responsive code */
@media(max-width:480px){
    /* background section styliing */

    .index-page-background-section {
    width: 100%;
    height: 300px;
    padding: 20px;
    position: relative;
}
.index-page-background-section .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.index-page-background-section .content .heading {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
}
.index-page-background-section .content .text{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 5px;
}
.index-page-background-section .content .button button{ 
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: #ffffff;
    text-transform: capitalize;
    border: none;
    margin-top: 30px;
}
.index-page-background-section .content .button button:hover{
    background-color: #6128f0;
}
}

/* end of background section */
/* start the template images section  */
.templates-images-section{
    width: 100%;
    height: 700px;
    margin-top: 50px;
}
.templates-images-section .heading{
    font-size: 1.4rem;
    font-family: var(--commna-font);
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}
.templates-images-section .templates{
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  
}
.templates-images-section .templates .template{
    width: 500px;
    height: 100%;
    margin: 10px;
    cursor: pointer;
}
.templates-images-section .templates .template img{
    width: 100%;
    height: 100%;
}
/* responsive styling of templates section */
@media(max-width:480px){
    /* start the template images section  */
.templates-images-section{
    width: 100%;
    height: 200px;
}
.templates-images-section .templates{
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;

}
.templates-images-section .templates .template{
    width: 210px;
    height: 100%;
    margin: 10px;
    cursor: pointer;
}
.templates-images-section .templates .template img{
    width: 100%;
    height: 100%;
}
}
/* start the how it works section */
.steps-section{
    width: 100%;
    margin-top: 100px;
}
.steps-section .heading{
    text-align: center;
    font-size: 3rem;
    color: var(--heading-color);
    text-transform: capitalize;
}
.steps-section .steps-wrapper .steps{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top:50px;
}
.steps-section .steps-wrapper .steps .step{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.steps-section .steps-wrapper .steps .step .left {
    width:50px;
    height: 50px;
}
.steps-section .steps-wrapper .steps .step .left .step-number{
    width: 40px;
    height: 40px;
    border: 2px solid #6e6e76;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--common-color);
  
}

.steps-section .steps-wrapper .steps .step .right{
    width: 230px;
    margin-left: 20px;
   padding-top: 10px;
    display: block;
}
.steps-section .steps-wrapper .steps .step .right .step-heading1,.step-heading2{
    font-size: 18px;
    text-transform: capitalize;
    color: var(--text-color);
    font-family: var(--commna-font);
}
.steps-section .steps-wrapper .steps .step .right .step-heading2{
    margin-top: 10px;
}

/* end of  steps section */
/* responsive code steps section */
@media(max-width:480px){
    /* start the how it works section */
.steps-section{
    width: 100%;
    margin-top: 60px;
}
.steps-section .heading{
    text-align: center;
    font-size: 2rem;
    color: var(--heading-color);
    text-transform: capitalize;
}
.steps-section .steps-wrapper .steps{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top:50px;
    flex-wrap: wrap;
}
.steps-section .steps-wrapper .steps .step{
    display: block;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.steps-section .steps-wrapper .steps .step .left {
    width:50px;
    height: 50px;
    margin: auto;
}
.steps-section .steps-wrapper .steps .step .left .step-number{
    width: 40px;
    height: 40px;
    border: 2px solid #6e6e76;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--common-color);
    margin: auto;
  
}

.steps-section .steps-wrapper .steps .step .right{
    width:300px;
    margin-left: 20px;
   padding-top: 10px;
    display: block;
    text-align: center;
}
.steps-section .steps-wrapper .steps .step .right .step-heading1,.step-heading2{
    font-size: 18px;
    text-transform: capitalize;
    color: var(--text-color);
    font-family: var(--commna-font);
}
.steps-section .steps-wrapper .steps .step .right .step-heading2{
    margin-top: 10px;
}
}
/* start the demo image section */
.demo-image-section{
    width: 100%;
    height: 670px;
    margin-top: 50px;
}
.demo-image-section .image{
    width: 900px;
    height: 98%;
    margin: auto;
    margin-top: 30px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
.demo-image-section .image img{
    width: 100%;
    height: 100%;
}

/* end of demo image section */
/* start the some professional and designe section  */
.professional-section{
    width: 100%;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.professional-section .container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.professional-section .container .left {
    width: 550px;
    margin-left: 20px;
}

.professional-section .container .left .professional-content .heading{
    font-size:48px;
    color: var(--heading-color);
    font-family:'Poppins', sans-serif ;
    text-transform: capitalize;
}
.professional-section .container .left .professional-content .text{
    font-size: 20px;
    font-weight: 400;
    color: #6e6e76;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.professional-section .container .left .professional-content .button button{
    width: 160px;
    height: 55px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: var(--btn-color);
    border: none;
    color: #ffffff;
    padding: 3px;
    font-weight: 500;
    font-size: 1.1rem;
}
.professional-section .container .left .professional-content .button button:hover{
    background-color: #6128f0;
    cursor: pointer;
}
.professional-section .container .right {
    width: 550px;
    height: 100%;
}
.professional-section .container .right .hovering-div{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.professional-section .container .right .hovering-div .left-images{
    width: 250px;
}
.professional-section .container .right .hovering-div .right-images {
    width: 250px;
}
.professional-section .container .right .hovering-div .left-images  .image{
    width: 100%;
    height: 300px;
    animation-name: LeftHoverImage;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}


.professional-section .container .right .hovering-div .right-images  img{
    width: 100%;
    height: 100%;
}
/* left images hovering styling code */
@keyframes LeftHoverImage{
   
    0%{
        transform: translateY(-10%);
    }
    40%{
        transform: translateY(-30%);
    }
    60%{
        transform: translateY(-50%);
    }
    80%{
        transform: translateY(-70%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.professional-section .container .right .hovering-div .left-images  img{
    width: 100%;
    height: 100%;
}

.professional-section .container .right .hovering-div .right-images  .image{
    width: 100%;
    height: 300px;
    margin-top: 5px;
    animation-name:  RightHoverImage;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
   
}
@keyframes RightHoverImage{
   
    20%{
        transform: translateY(-20%);
    }
    40%{
        transform: translateY(-40%);
    }
    60%{
        transform: translateY(-60%);
    }
    80%{
        transform: translateY(-80%);
    }
    100%{
        transform: translateY(-100%);
    }
}


/* footer section styling code */
.footer-section{
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-top: 150px;
    
}
.footer-section .footer-container{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-section .footer-container .resources-links .links-heading{
    font-size: 1.4rem;
    font-family: var(--commna-font);
    text-transform: capitalize;
    font-weight: 300;
}
.footer-section .footer-container .resources-links ul{
    list-style: none;
}
.footer-section .footer-container .resources-links ul li{
    padding-top: 5px;
}
.footer-section .footer-container .resources-links ul li a{
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    font-family: var(--commna-font);
}
/*services  links styling */
.footer-section .footer-container .services-links{
    margin-left: 100px;
}
.footer-section .footer-container .services-links .links-heading{
    font-size: 1.4rem;
    font-family: var(--commna-font);
    text-transform: capitalize;
    font-weight: 300;
}
.footer-section .footer-container .services-links ul{
    list-style: none;
}
.footer-section .footer-container .services-links ul li{
    padding-top: 5px;
}
.footer-section .footer-container .services-links ul li a{
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none; 
    text-transform: capitalize;
    font-family: var(--commna-font);
    font-weight: 300;
}
.footer-section footer{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 150px;
    font-size: 1.1rem;
    font-family: var(--commna-font);
    color: var(--text-color);
    font-weight: 300;
}